@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap');
body{
    font-family: 'Roboto Slab', serif;
    color:#004B2C !important;
}

$brand: #004B2C;
$yellow:#E7B700;
ul{
    list-style: none;
}